<div class="flex justify-between items-center m-5">
    <div class="left flex items-center">
        <div class="text-center space-y-4">
            <h2 class="text-2xl text-gray-600 font-bold">Welcome to Our Care Center</h2>
            <h1 class="text-4xl font-bold text-blue-600">Book Your Appointment <span id="dyn-text">Today</span></h1>
            <p class="text-lg text-gray-500 italic">"Your health is our mission, your smile is our reward."</p>
        </div>
        
    </div>
    <div class="right flex items-center gap-10">
        <div class="w-160 h-120 rounded-2xl overflow-hidden shadow-lg border-20 border-blue-50">
          <img 
            src="https://img.freepik.com/free-vector/medical-video-call-consultation-illustration_88138-415.jpg?t=st=1746040129~exp=1746043729~hmac=0466cd1e0114bd54e475d5daef6f046c41ddeeec4bbf1424963215d1e3cc9fe8&w=1380"
            alt="Medical Consultation"
            class="w-full h-full object-cover"
          >
        </div>
      </div>
      

</div>


<script>
    setInterval(()=>this.changeTxt(),2000);
</script>