<div class="mt-20 px-8 bg-blue-50 p-10" id="about">
    <h2 class="text-4xl font-extrabold text-center text-blue-700 mb-12">
      About Us
    </h2>
        <div class="max-w-5xl mx-auto text-center">
          <p class="text-lg text-gray-700 leading-relaxed">
            Welcome to <span class="font-semibold text-blue-500">Raj Hospital</span>, where healthcare meets excellence and compassion. 
            We are more than just a medical center — we are a place of healing, hope, and trust.
          </p>
          <p class="text-lg text-gray-700 leading-relaxed mt-6">
            With a team of highly experienced doctors, skilled nurses, and advanced medical technology, we are dedicated to delivering personalized care for every patient. 
            Your well-being, comfort, and confidence are at the heart of everything we do.
          </p>
          <p class="text-lg text-gray-700 leading-relaxed mt-6">
            At <span class="font-semibold text-blue-500">Raj Hospital</span>, we believe that healing begins with trust and grows through care. 
            Every smile we restore, every life we touch, strengthens our commitment to setting new benchmarks in healthcare.
          </p>
          <p class="text-xl font-semibold text-blue-600 mt-8">
            Experience Care. Experience Trust. Experience Raj Hospital.
          </p>
        </div>
      
  
  </div>
  