<div class="flex justify-between items-center mt-10 ml-20 mr-20 mb-8 bg-blue-50 p-3 rounded xl">
    <!-- <div class="left flex items-center">
        <h1 class="text-2xl font-bold text-blue-600">Hospital Logo</h1>
    </div> -->
    <div class="right flex items-center gap-20">
        <a href="#"
            class="relative text-gray-700 hover:text-blue-600 font-medium transition after:content-[''] after:block after:w-0 after:h-0.5 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full">HOME</a>

        <a href="#about"
            class="relative text-gray-700 hover:text-blue-600 font-medium transition after:content-[''] after:block after:w-0 after:h-0.5 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full">ABOUT
            US</a>

        <a href="#Facilities"
            class="relative text-gray-700 hover:text-blue-600 font-medium transition after:content-[''] after:block after:w-0 after:h-0.5 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full">OUR
            FACILITIES</a>

        <a routerLink="/appoint-form"
            class="relative text-gray-700 hover:text-blue-600 font-medium transition after:content-[''] after:block after:w-0 after:h-0.5 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full">BOOK
            AN APPOINTMENT</a>
        <a routerLink="/view-form"
            class="relative text-gray-700 hover:text-blue-600 font-medium transition after:content-[''] after:block after:w-0 after:h-0.5 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full">VIEW APPOINTMENT</a>
        <a href="/login"
            class="relative text-gray-700 hover:text-blue-600 font-medium transition after:content-[''] after:block after:w-0 after:h-0.5 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full">LOGIN</a>
    </div>
</div>

<router-outlet />